/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Variables */

:root {
  --color1: #d9bf00;
  --color2: #e3cf40;
  --color3: #a39000;
}

/* Global */

* {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  height: 100%;
}

h2 {
  font-size: 2rem;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

#about-us,
#rooms,
#facilities,
#contact {
  scroll-margin-top: 80px;
}

/* Nav */

nav {
  display: flex;
  justify-content: space-between;
  padding: 50px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

nav ul {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
}

nav a:hover {
  text-decoration: 1px underline white;
}

nav img {
  width: 150px;
}

.mainBtn {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: var(--color1);
  color: black;
}

.mainBtn:hover {
  background-color: #af972d;
  color: white;
  transition: 0.5s;
}

a,
.mainBtn:hover {
  text-decoration: none;
  transition: 0.25s;
}

/* Main */

/* Header */

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  background-image: url(assets/images/horizontal/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header h1 {
  color: white;
  font-size: 5rem;
}

header h2 {
  color: white;
}

a:hover {
  text-decoration: underline solid var(--color2);
}

/* Sobre Nosotros */

#about-us {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
  gap: 50px;
}

#about-us > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.amenities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.amenities > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

#about-us img {
  width: 200px;
}

#about-us iframe {
  width: 50%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Habitaciones */

#rooms {
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
  background-color: #856e59;
  color: white;
}

.roomsWrapper {
  width: 100%;
  height: 70vh;
  display: flex;
  gap: 10px;
}

.roomsWrapper p {
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.roomsWrapper p:nth-child(1) {
  background-image: url(assets/images/horizontal/visualsofdana-T5pL6ciEn-I-unsplash.jpg);
}

.roomsWrapper p:nth-child(2) {
  background-image: url(assets/images/horizontal/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg);
}

.roomsWrapper p:nth-child(3) {
  background-image: url(assets/images/horizontal/mky-moody-AUF6Gl4wwzA-unsplash.jpg);
}

.roomsWrapper p:nth-child(4) {
  background-image: url(assets/images/horizontal/reisetopia-Y7WfCuz5tn0-unsplash.jpg);
}

.roomsWrapper p:hover {
  flex: 4;
}

.roomsWrapper p span {
  min-width: 14em;
  padding: 0.5em;
  text-align: center;
  transform: rotate(-90deg);
  transition: all 0.5s;
  color: white;
  letter-spacing: 0.1em;
  font-weight: 800;
}

.roomsWrapper p:hover span {
  transform: rotate(0);
}

/* Espacios */

#facilities {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;
  gap: 25px;
}

/* Contacto */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  gap: 25px;
  background-image: url(assets/images/horizontal/sergio-hernandez-trejo-7_oioDbwu80-unsplash.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  position: relative;
}

#contact h2 {
  color: white;
  font-size: 2rem;
}

#contact form {
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 25px;
  gap: 10px;
}

.formRow {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

#contact input {
  border: none;
  padding: 10px;
  width: 100%;
  height: 50px;
}

textarea {
  border: none;
  padding: 10px;
}

#contact button {
  width: 250px;
  align-self: center;
}

.custom-shape-divider-bottom-1747516643 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1747516643 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1747516643 .shape-fill {
  fill: #af972e;
}

/* Footer */

footer {
  display: flex;
  flex-direction: column;
  background-color: #af972d;
  padding: 50px 50px 25px;
}

footer img {
  width: 400px;
  align-self: center;
}

footer .links {
  display: flex;
  justify-content: space-between;
}

footer .linkBlock,
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer a {
  color: black;
}

footer a:hover {
  text-decoration: 1px underline black;
}

.linkBlock > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

footer hr {
  width: 100%;
  border: 1px solid black;
  margin: 50px 0 25px;
}
footer p {
  text-align: center;
  word-wrap: break-word;
}
