/* CSS Reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* Variables */

:root {
  --color1: #d9bf00;
  --color2: #e3cf40;
  --color3: #a39000;
}

/* Global */

* {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

#about-us,
#rooms,
#facilities,
#contact {
  scroll-margin-top: 80px;
}

/* Nav */

.nav-section {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent);
  position: fixed;
  z-index: 1;
  width: 100%;
}

nav {
  max-width: 1440px;
  margin: 0 auto;
  padding: min(25px, 8%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav img {
  width: 50%;
}

.nav-menu {
  display: flex;
  gap: 25px;
}

.ham-menu {
  display: none;
  cursor: pointer;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  text-decoration: underline;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 768px) {
  .ham-menu {
    display: block;
  }

  .ham-menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .ham-menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .ham-menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: 0;
    top: -100%;
    gap: 0;
    flex-direction: column;
    background-color: #856e59;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    padding: 10vh 0;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    top: 0;
  }
}

.mainBtn {
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  background-color: var(--color1);
  color: black;
}

.mainBtn:hover {
  background-color: #af972d;
  color: white;
  transition: 0.5s;
}

.mainBtn:hover {
  text-decoration: none;
  transition: 0.25s;
}

/* Main */

/* Header */

.header-section {
  background: url(assets/images/horizontal/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg)
    center/cover;
}

header {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20vh 0;
}

header h1,
header h2 {
  color: white;
}

h1 {
  font-size: clamp(2rem, calc(7vw + 1rem), 5rem);
}

/* Sobre Nosotros */

.about-us-section {
  background-color: white;
}

#about-us {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  padding: min(50px, 8%);
  gap: 25px;
}

#about-us > div {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.amenities {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.amenities > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

#about-us iframe {
  flex: 1 1 400px;
  max-width: 100%;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Habitaciones */

.rooms-section {
  /* background-color: #856e59; */
  background-color: black;
}

#rooms {
  max-width: 1440px;
  margin: 0 auto;
  padding: min(50px, 8%);
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  gap: 25px;
}

.roomsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.roomsWrapper p {
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  flex: 1 1 300px;
  justify-content: center;
  align-items: center;
  background: center/cover;
}

.roomsWrapper p span {
  letter-spacing: 0.1rem;
  font-weight: 800;
  padding: 15vw 0;
}

.roomsWrapper p:nth-child(1) {
  background-image: url(assets/images/horizontal/visualsofdana-T5pL6ciEn-I-unsplash.jpg);
}

.roomsWrapper p:nth-child(2) {
  background-image: url(assets/images/horizontal/vojtech-bruzek-Yrxr3bsPdS0-unsplash.jpg);
}

.roomsWrapper p:nth-child(3) {
  background-image: url(assets/images/horizontal/mky-moody-AUF6Gl4wwzA-unsplash.jpg);
}

.roomsWrapper p:nth-child(4) {
  background-image: url(assets/images/horizontal/reisetopia-Y7WfCuz5tn0-unsplash.jpg);
}

/* Espacios */

.facilities-section {
  background-color: white;
}

#facilities {
  padding: min(50px, 8%);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.carousel {
  margin-bottom: 25px;
}

/* Contacto */

.contact-section {
  background: url(assets/images/horizontal/sergio-hernandez-trejo-7_oioDbwu80-unsplash.jpg)
    center/cover;
  position: relative;
}

#contact {
  max-width: 1440px;
  margin: 0 auto;
  padding: min(50px, 8%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

#contact h2 {
  color: white;
}

#contact form {
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input,
textarea {
  border: none;
  padding: 10px;
}

input {
  flex: 1 1 200px;
}

textarea {
  flex-basis: 100%;
}

#contact button {
  width: 100%;
  align-self: center;
  margin-bottom: 50px;
}

.custom-shape-divider-bottom-1747516643 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1747516643 svg {
  position: relative;
  display: block;
  width: calc(150% + 1.3px);
  height: 50px;
}

.custom-shape-divider-bottom-1747516643 .shape-fill {
  /* fill: #af972e; */
  fill: black;
}

/* Footer */

.footer-section {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: min(50px, 8%);
}

footer {
  /* background-color: #af972d; */
  background-color: black;
  color: white;
}

footer .links {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
}

footer .linkBlock,
footer ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.linkBlock {
  flex: 1 1 200px;
  max-width: 30ch;
}

footer a {
  /* color: black; */
  color: white;
}

footer a:hover {
  text-decoration: underline;
}

.linkBlock > div {
  display: flex;
  gap: 10px;
  align-items: center;
}

footer hr {
  /* border: 1px solid black; */
  border: 1px solid white;
  margin: 25px 0;
}
.copy {
  text-align: center;
}

@media (min-width: 1024px) {
  .roomsWrapper {
    height: 70vh;
  }

  .roomsWrapper p {
    flex: 1;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s;
  }

  .roomsWrapper p:hover {
    flex: 4;
  }

  .roomsWrapper p span {
    transform: rotate(-90deg);
    transition: all 0.5s;
  }

  .roomsWrapper p:hover span {
    transform: rotate(0);
  }
}
